source/fabricautomation.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "metadata": {
    "_generator": {
      "name": "bicep",
      "version": "0.23.1.45101",
      "templateHash": "4714212535938920813"
    }
  },
  "parameters": {
    "location": {
      "type": "string",
      "defaultValue": "[resourceGroup().location]",
      "metadata": {
        "description": "ロジックアプリのロケーション\n"
      }
    },
    "logicAppsName": {
      "type": "string",
      "metadata": {
        "description": "ロジックアプリの名称\n"
      }
    },
    "action": {
      "type": "string",
      "allowedValues": [
        "suspend",
        "resume",
        "scaling"
      ],
      "metadata": {
        "description": "実施したいFabric容量操作\n"
      }
    },
    "capacityName": {
      "type": "string",
      "defaultValue": "demofabric",
      "metadata": {
        "description": "対象のFabric容量名\n"
      }
    },
    "resourceGroupName": {
      "type": "string",
      "defaultValue": "[resourceGroup().name]",
      "metadata": {
        "description": "対象のFabricが存在するリソースグループ名\n"
      }
    },
    "subscriptionId": {
      "type": "string",
      "defaultValue": "[subscription().subscriptionId]",
      "metadata": {
        "description": "対象のFabricが存在するサブスクリプションID\n"
      }
    },
    "sku": {
      "type": "string",
      "defaultValue": "F2",
      "allowedValues": [
        "F2",
        "F4",
        "F8",
        "F16",
        "F32",
        "F64",
        "F128",
        "F256",
        "F512",
        "F1024",
        "F2048"
      ],
      "metadata": {
        "description": "actionがscalingの場合の変更後SKU.\n"
      }
    }
  },
  "resources": [
    {
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2017-07-01",
      "name": "[parameters('logicAppsName')]",
      "location": "[parameters('location')]",
      "identity": {
        "type": "SystemAssigned"
      },
      "properties": {
        "state": "Enabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "parameters": {
            "Action": {
              "defaultValue": "[parameters('action')]",
              "type": "String"
            },
            "CapacityName": {
              "defaultValue": "[parameters('capacityName')]",
              "type": "String"
            },
            "ResourceGroupName": {
              "defaultValue": "[parameters('resourceGroupName')]",
              "type": "String"
            },
            "SubscriptionId": {
              "defaultValue": "[parameters('subscriptionId')]",
              "type": "String"
            },
            "sku": {
              "defaultValue": "[parameters('sku')]",
              "type": "String"
            }
          },
          "triggers": {
            "繰り返し": {
              "recurrence": {
                "frequency": "Day",
                "interval": 1,
                "schedule": {
                  "hours": [
                    "1"
                  ]
                },
                "timeZone": "Tokyo Standard Time"
              },
              "evaluatedRecurrence": {
                "frequency": "Day",
                "interval": 1,
                "schedule": {
                  "hours": [
                    "1"
                  ]
                },
                "timeZone": "Tokyo Standard Time"
              },
              "type": "Recurrence"
            }
          },
          "actions": {
            "Fabric_状態取得": {
              "runAfter": {},
              "type": "Http",
              "inputs": {
                "authentication": {
                  "type": "ManagedServiceIdentity"
                },
                "method": "GET",
                "uri": "https://management.azure.com/subscriptions/@{parameters('SubscriptionId')}/resourceGroups/rg-analytics-pj/providers/Microsoft.Fabric/capacities/demofabric?api-version=2022-07-01-preview"
              }
            },
            "Fabric_状態解析": {
              "runAfter": {
                "Fabric_状態取得": [
                  "Succeeded"
                ]
              },
              "type": "ParseJson",
              "inputs": {
                "content": "@body('Fabric_状態取得')",
                "schema": {
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "location": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "properties": {
                      "properties": {
                        "administration": {
                          "properties": {
                            "members": {
                              "items": {
                                "type": "string"
                              },
                              "type": "array"
                            }
                          },
                          "type": "object"
                        },
                        "provisioningState": {
                          "type": "string"
                        },
                        "state": {
                          "type": "string"
                        }
                      },
                      "type": "object"
                    },
                    "sku": {
                      "properties": {
                        "name": {
                          "type": "string"
                        },
                        "tier": {
                          "type": "string"
                        }
                      },
                      "type": "object"
                    },
                    "tags": {
                      "properties": {},
                      "type": "object"
                    },
                    "type": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "actionパラメータ分岐": {
              "runAfter": {
                "Fabric_状態解析": [
                  "Succeeded"
                ]
              },
              "cases": {
                "resume": {
                  "case": "resume",
                  "actions": {
                    "停止済み": {
                      "actions": {
                        "Fabric_開始": {
                          "runAfter": {},
                          "type": "Http",
                          "inputs": {
                            "authentication": {
                              "type": "ManagedServiceIdentity"
                            },
                            "method": "POST",
                            "uri": "https://management.azure.com/subscriptions/@{parameters('SubscriptionId')}/resourceGroups/@{parameters('ResourceGroupName')}/providers/Microsoft.Fabric/capacities/@{parameters('CapacityName')}/resume?api-version=2022-07-01-preview"
                          }
                        }
                      },
                      "runAfter": {},
                      "expression": {
                        "and": [
                          {
                            "equals": [
                              "",
                              "Paused"
                            ]
                          }
                        ]
                      },
                      "type": "If"
                    }
                  }
                },
                "scaling": {
                  "case": "scaling",
                  "actions": {
                    "SKU変更なし": {
                      "actions": {},
                      "runAfter": {},
                      "else": {
                        "actions": {
                          "Fabric_SKU変更": {
                            "runAfter": {},
                            "type": "Http",
                            "inputs": {
                              "authentication": {
                                "type": "ManagedServiceIdentity"
                              },
                              "body": {
                                "sku": {
                                  "name": "@{parameters('sku')}",
                                  "tier": "Fabric"
                                }
                              },
                              "method": "PATCH",
                              "uri": "https://management.azure.com/subscriptions/@{parameters('SubscriptionId')}/resourceGroups/@{parameters('ResourceGroupName')}/providers/Microsoft.Fabric/capacities/\n@{parameters('CapacityName')}?api-version=2022-07-01-preview"
                            }
                          }
                        }
                      },
                      "expression": {
                        "and": [
                          {
                            "equals": [
                              "",
                              "@parameters('sku')"
                            ]
                          }
                        ]
                      },
                      "type": "If"
                    }
                  }
                },
                "suspend": {
                  "case": "suspend",
                  "actions": {
                    "開始済み": {
                      "actions": {
                        "Fabric_停止": {
                          "runAfter": {},
                          "type": "Http",
                          "inputs": {
                            "authentication": {
                              "type": "ManagedServiceIdentity"
                            },
                            "method": "POST",
                            "uri": "https://management.azure.com/subscriptions/@{parameters('SubscriptionId')}/resourceGroups/@{parameters('ResourceGroupName')}/providers/Microsoft.Fabric/capacities/@{parameters('CapacityName')}/@{parameters('Action')}?api-version=2022-07-01-preview"
                          }
                        }
                      },
                      "runAfter": {},
                      "expression": {
                        "and": [
                          {
                            "equals": [
                              "",
                              "Active"
                            ]
                          }
                        ]
                      },
                      "type": "If"
                    }
                  }
                }
              },
              "default": {
                "actions": {
                  "終了": {
                    "runAfter": {},
                    "type": "Terminate",
                    "inputs": {
                      "runStatus": "Succeeded"
                    }
                  }
                }
              },
              "expression": "@parameters('Action')",
              "type": "Switch"
            }
          },
          "outputs": {}
        },
        "parameters": {}
      }
    }
  ]
}